{% extends 'base.html.twig' %}

{% block body %}

    {# List #}
    <div class="flex items-center justify-center">
        <span class="text-3xl font-bold">Missing: {{ total }}</span>
    </div>
    <div class="gap-4">
    <div class="grid grid-cols-6 gap-4">
        {% for pokemon in pokemon %}
            <div class="flex flex-col items-center">
                <div class="bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                         src="/images/missing-unique/{{ pokemon.getTitle() }}.png" alt="{{ pokemon.title }}"
                         onerror="this.onerror=null; this.src='/images/placeholder/card_placeholder.png';">
                    <h5 class="flex flex-col items-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ pokemon.title }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}